.button_1,
.button_2 {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  position: absolute;
  transform: translate(-50, -50);
  top: 143%;
  left: 71%;
  overflow: hidden;
}
.button_2 {
  top: 155%;
}
.graph_button {
  position: relative;
  box-shadow: 0 0 10px 5px rgba(68, 96, 106, 0.4);
  /* text-transform: uppercase; */
  overflow: hidden;
  border-radius: 0px;
  color: #00798c;
  background: linear-gradient(to right, #f5f7f8, #798e9e);
  border: 1px solid;
  width: 6rem;
  height: 2.8rem;
  transition: transform 0.3s ease-in-out;
  /* filter: drop-shadow(1px 1px 20px rgba(45, 174, 249, 0.766)); */
}
.graph_button span:nth-child(1) {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2.5px;
  background: linear-gradient(to right, #184e77, #1f7a8c);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.graph_button span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, #184e77, #1f7a8c);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.graph_button span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2.5px;
  background: linear-gradient(to left, #184e77, #1f7a8c);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.graph_button span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top, #184e77, #1f7a8c);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/* for_tablet */
@media only screen and (max-width: 769px) {
  .graph_button {
    width: 4.5rem;
    height: 2.25rem;
  }
  .button_1 {
    position: absolute;
    top: 184%;
    left: 22%;
  }
  .button_2 {
    position: absolute;
    top: 184%;
    left: 55%;
  }
}
/* for large mobile */
@media only screen and (max-width: 426px) {
  .button_1 {
    position: absolute;
    top: 213%;
    left: 33%;
  }
  .button_2 {
    position: absolute;
    top: 213%;
    left: 95%;
  }
}
/* for medium size mobile  */

@media only screen and (max-width: 376px) {
  .button_2 {
    position: absolute;
    top: 213%;
    left: 109%;
  }
  .button_1 {
    position: absolute;
    top: 213%;
    left: 35%;
  }
}
/* for medium  mobile  */
@media only screen and (max-width: 376px) {
  .button_2 {
    position: absolute;
    top: 213%;
    left: 129%;
  }
}
